<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timer Control</title>

    <link rel="stylesheet" href="{{ url_for('time_service.static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('time_service.static', filename='css/time_service/timer.css') }}">
</head>
<body>
    <div class="content">
        <div class="timer-container">
            <p id="time-lbl">15:00</p>
            <button id="start-stop-btn">Start</button>
        </div>
        <div class="talk-selector-container">
            <button id="prev">
                <img src="{{ url_for('time_service.static', filename='images/backward.png') }}">
            </button>
            <div class="dropdown">
                <button class="dropbtn">Dropdown Menu</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <button id="next">
                <img src="{{ url_for('time_service.static', filename='images/forward.png') }}">
            </button>
        </div>
    </div>
</body>
</html>