{% extends "base.html" %}
{% block title %}{% endblock %}
{% block css%}
<link rel="stylesheet" href="{{ url_for('time_service.static', filename='css/auth_service/login.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <h1>Login - Timer</h1>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    <form action="{{ url_for('time_service.login') }}" method="post">
        <input type="password" name="passcode" placeholder="passcode">
        <button type="submit">Enter</button>
    </form>
</div>
{% endblock %}
