{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('admin_service.static', filename='css/admin_service/dashboard.css') }}">
{% endblock %}
{% block content %}
<div class="content">
    <div class="language-selector">
        <h3>CLMMobile - Language</h3>
        <div class="dropdown">
            <button id="dropdown" class="dropbtn">Dropdown Menu</button>
            <div id="dropdown-content" class="dropdown-content">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
 <script src="{{ url_for('admin_service.static', filename='js/admin_service/admin_service.js') }}"></script>
 {% endblock %}
