{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block css
%}
<link
  rel="stylesheet"
  href="{{ url_for('admin_service.static', filename='css/admin_service/dashboard.css') }}"
/>
{% endblock %} {% block content %}
<!-- javascript requests -->
<script>
  function switchLang(lang) {
    const url = "{{ url_for('admin_service.set_language') }}"

    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ language: lang }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error(`HTTP ${response.status}`)
        }

        location.reload()
      })
      .catch((error) => {
        console.error("Error changing language:", error)
      })
  }

  function setAdminPassword(event) {
    event.preventDefault()

    const url = "{{ url_for('admin_service.change_admin_pass') }}"
    
    const box1Pass = document.getElementById("admin-box-1").value
    const box2Pass = document.getElementById("admin-box-2").value

    if (box1Pass !== box2Pass) {
      alert("Passwords don't match!")
      return
    }

    fetch (url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ admin_password: box1Pass })
    })
    .then((response) => {
      if (!response.ok) {
        throw new Error(`HTTP ${response.status}`)
      }
      location.reload()
    })
    .catch((error) => {
      console.error("Error setting password: ", error)
    })
  }

  function setUserPassword(event) {
    event.preventDefault()

    const url = "{{ url_for('admin_service.change_user_pass') }}"
    
    const box1Pass = document.getElementById("user-box-1").value
    const box2Pass = document.getElementById("user-box-2").value

    if (box1Pass != box2Pass) {
      alert("Passwords don't match!")
      return
    }

    fetch (url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ user_password: box1Pass })
    })
    .then((response) => {
      if (!response.ok) {
        throw new Error(`HTTP ${response.status}`)
      }
      location.reload()
    })
    .catch((error) => {
      console.error("Error setting password: ", error)
    })
  }
</script>
<div class="content">
  <div class="language-selector">
    <h2>{{ strings['language-lbl'] }}</h2>
    <div class="dropdown">
      <button id="dropdown" class="dropbtn">Current: {{ current_lang }}</button>
      <div id="dropdown-content" class="dropdown-content">
        {% for lang in langs %} {% if lang == current_lang %}
        <button
          id="{{ lang }}"
          style="color: rgb(0, 0, 0)"
          onclick="switchLang('{{ lang }}')"
        >
          {{ lang }}
        </button>
        {% else %}
        <button
          id="{{ lang }}"
          style="color: rgba(0, 0, 0, 0.5)"
          onclick="switchLang('{{ lang }}')"
        >
          {{ lang }}
        </button>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  <h2>{{ strings['reports-lbl'] }}</h2>
  <a id="report-dash-btn" href="{{ url_for('admin_service.reports') }}">{{ strings['report-dash-btn'] }}</a>
  <h4>{{ strings['security-lbl'] }}</h4>
  <button id="change-passwords-btn">{{ strings['change-passwords-btn'] }}</button>
  <div id="passwords-container">
    <form class="user-password-form" onsubmit="setUserPassword(event)">
        <h5>{{ strings['user-password-lbl'] }}</h5>
        <input type="password" name="" id="user-box-1" placeholder="{{ strings['password-placeholder'] }}">
        <input type="password" name="" id="user-box-2" placeholder="{{ strings['repeat-password-placeholder'] }}">
        <button class="submit-btn" type="submit">{{ strings['change-password-btn'] }}</button>
    </form>
    <form class="admin-password-form" onsubmit="setAdminPassword(event)">
      <h5>{{ strings['admin-password-lbl'] }}</h5>
        <input type="password" name="" id="admin-box-1" placeholder="{{ strings['password-placeholder'] }}">
        <input type="password" name="" id="admin-box-2" placeholder="{{ strings['repeat-password-placeholder'] }}">
        <button class="submit-btn" type="submit">{{ strings['change-password-btn'] }}</button>
    </form>
  </div>
</div>
{% endblock %} {% block js %}
<script src="{{ url_for('admin_service.static', filename='js/admin_service/admin_service.js') }}"></script>
{% endblock %}
